<div>
    <table border="1">
        <thead>
            <tr *ngFor="let head of headers">
                <th>{{head.name}}</th>
                <th>{{head.email}}</th>
                <th>{{head.designation}}</th>
                <th>{{head.empType}}</th>
                <th>{{head.password}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.designation}}</td>
                <td>{{employee.empType}}</td>
                <td>{{employee.password}}</td>
            </tr>
            
        </tbody>
    </table>
</div>
<div>
    <a routerLink="/template-form">Template form</a>
    <br>
    <a routerLink="/reactive-form">Reactive form</a>
</div>